body {
  min-width: 648px;
}

.background {
  background-image: var(--url-background);
  background-color: var(--color-background);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}