body {
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 2.36%;
    left: 2.78%;
    font-family: 'CircularStd-Medium', sans-serif;
    font-size: 31px;
    line-height: 35px;
    color: #13170E;
}

.form {
    display: flex;
    width: 21%;
    margin-top: 6.60%;
    float: right;
    margin-right: 165px;
}

.center {
    text-align: center;
    align-self: center;
}

.link {
    display: inline;
    color: #FFC200;
    text-decoration: none;
}

.link:hover {
    filter: brightness(0.8);
    /* Darken the color on hover */
}

.form-name {
    font-family: 'CircularStd-Medium', sans-serif;
    font-size: 31px;
    line-height: 35px;
    color: #2E384D;
    margin-bottom: 20px;
}

.sous-f-name {
    font-family: 'CircularStd-Medium', sans-serif;
    color: #2E384D;
    font-size: 17px;
    margin-bottom: 30px;
}

.border-b-t {
    border-bottom: 2px solid #FFC200;
}

.input-container {
    margin-bottom: 20px;
    width: 100%;
}

.btn-sub-1 {
    justify-self: center;
    align-self: center;
    width: 104%;
    font-family: 'CircularStd-Medium', sans-serif;
    ;
    background-color: #FFC200;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 13px 14.6px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-sub-1:hover {
    filter: brightness(0.8);
    /* Darken the button color on hover */
}

.required {
    color: #F18282;
}

.label-1 {
    font-family: 'CircularStd-Book';
    font-size: 13px;
    line-height: 17px;
    color: #8C98A9;
    display: block;
    margin-bottom: 8.8px;
}

.label-2 {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-family: bold;
    line-height: 20px;
    color: #131313;
}

.input-1,
select,
textarea {
    background-color: #FFFFFF;
    border: 1px solid #E0E7FF;
    border-radius: 5px;
    padding: 12.3px 0 12.3px 14.6px;
    font-size: 13px;
    line-height: 18px;
    color: #2E384D;
    width: 100%;
}

.input-1:hover,
select:hover,
textarea:hover {
    outline: 1px solid #FFC200;
}

.input-1:focus,
select:focus,
textarea:focus {
    outline: 1px solid #FFC200;
    filter: brightness(0.9);
}

.input-1::placeholder {
    color: #8C98A9;
    font-style: italic;
}

.Checker {
    color: #45BF55;
    font-size: 17px;
}

.notif-erreur {
    border: 1px solid #F71A2F;
    border-left: 4px solid #F71A2F;
    background-color: #FEEFF0;
    border-radius: 12px;
    font-size: 11px;
    color: #111111;
}

.notif-normalle {
    border: 1px solid #1170FF;
    border-left: 4px solid #1170FF;
    background-color: #EEF5FF;
    border-radius: 12px;
    font-size: 11px;
    color: #111111;
}

.btn-accpter {
    border: none;
    background-color: #cef9c6;
    ;
    color: #131313;
    font-size: 8px;
    font-family: SegoeUI-Bold, Segoe UI;
    font-weight: 700;
}

.alert {
    margin-top: 15px;
    /* display: none; */
}

._45 {
    width: 45%;
}

._30 {
    width: 30%;
}

.f_r {
    float: right;

}

.f_l {
    float: left;
}

.d_f {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.clear {
    margin-bottom: 20px;
    clear: both;
}

.w3 {
    width: 300px;
}

.erreur {
    width: 30%;
    position: fixed;
    left: 35%;

}

.erreur.visible {
    display: block;
}